@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.is-danger {
  @apply bg-rose-400 !important
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 9fr auto;
  grid-template-areas: "header header" 
                       "side main"
                       "footer footer";
}

.site-header {
  grid-area: header;
  height: 64px;
}

.sidebar-nav {
  bottom: 64px;
  grid-area: side;  
  transition: all 1s;
  top: 64px;
  width: 300px;
  z-index: 9;
}

.content {
  transition: all 1.2s;
}

.sidebar-nav.collapsed {
  width: 64px;
}

.sidebar-nav.collapsed + .content {
  padding-left: 64px;
}

.site-footer {
  grid-area: footer;
  height: 64px
}

.page-content {
  @apply content bg-amber-200 dark:bg-gray-800 p-3
}

.page-title {
  @apply mb-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl dark:text-white
}

.input-label {
  @apply block mb-3 text-sm font-semibold text-gray-500
}

.input-field {
  @apply w-full bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.input-row {
  @apply flex flex-row items-center w-2/4
}

.input-row > div:first-child {
  @apply mr-1
}

.input-row > div {
  @apply w-full
}

.submit-button {
  @apply text-white bg-blue-600
  hover:bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:ring-blue-700 dark:focus:ring-blue-800
}

.search-dropdown {
  @apply mt-2 text-sm text-gray-500 dark:text-gray-400
}

.client-name,
.task-title {
  @apply md:w-2/4 sm:w-full
}

.autocomplete-label {
  @apply block mb-3 text-sm font-semibold text-gray-500
}

.autocomplete-tip {
  @apply text-sm text-gray-500
}

.td-class {
  @apply bg-amber-400 dark:bg-gray-700 px-4 py-3 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg 
}

.tr-class {
  @apply flex flex-col mb-4 sm:table-row
}

.canceled {
  @apply bg-rose-400 dark:bg-rose-700
}

.done {
  @apply bg-teal-400 dark:bg-teal-700
}

.processing {
  @apply bg-amber-400 dark:bg-gray-700
}

.checked {
  @apply bg-amber-200 text-gray-900
}

@media (max-width: 560px) {
  .td-class {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .sidebar-nav + .content {
    padding-left: 300px;
  }
}