@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.td-class {
  @apply bg-amber-400 dark:bg-gray-700 px-4 py-3 first:rounded-t-lg last:rounded-b-lg sm:first:rounded-t-none sm:last:rounded-b-none sm:first:rounded-tl-lg sm:first:rounded-bl-lg sm:last:rounded-tr-lg sm:last:rounded-br-lg 
}

.tr-class {
  @apply flex flex-col mb-4 sm:table-row
}

.canceled {
  @apply bg-rose-400 dark:bg-rose-700
}

.done {
  @apply bg-teal-400 dark:bg-teal-700
}

.processing {
  @apply bg-amber-400 dark:bg-gray-700
}

.checked {
  @apply bg-amber-200 text-gray-900
}

@media (max-width: 560px) {
  .grid-cols-sidebar-collapsed {
    grid-template-columns: unset !important;
  }
  .grid-cols-sidebar-collapsed .site-content,
  .grid-cols-sidebar-collapsed .clients,
  .grid-cols-sidebar-collapsed .add-client {
    padding-left: 80px;
  }
}
